html
    head
        title Where are you?
        link(rel="stylesheet", type="text/css", href="public/cesium/Build/CesiumUnminified/Widgets/widgets.css")
        link(rel="stylesheet", type="text/css", href="static/main.css")
    body
        #cesiumContainer.
        #toolbar.
        script(src="public/cesium/Build/CesiumUnminified/Cesium.js")
        script(src="static/lfg-locate-bundle.js")

